*{
    margin: 14;
    padding: 10;
}
.cabecalho{background-color:rgb(160, 28, 28);
color: rgb(230, 226, 206);
display: flex;
justify-content: space-around;}
.cabecalho-imagem{widht: 45%}
.cabecalho-lista-item{
    display: inline-block; 
margin: 0 16px;
}